<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <style>
      h1 {
        font-family: arial;
        font-size: 50px;
        font-style: oblique;
        text-align: center;
      }

      h2 {
        font-family: arial;
        font-size: 20px;
        font-style: bold;
        text-align: center;
      }

      a.button {
          background-color: #70ef7d;
          font-family: arial;
          color: white;
          padding: 14px 25px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          margin: 5px;
      }
      a.button:hover, a:active {
          color: #38aa3a;
          margin: 5px;
      }

      .container {
          display: flex;
          flex-wrap: wrap;
          text-align: center;
          justify-content: center;
          background-color: #70ef7d;
      }
    </style>
    <!-- <link type="text/css" rel="stylesheet" href="style.css"> -->

    <title>Daily Diary</title>
    <div class='container'>
      <a class="button" href="/add-entry">Add entry</a>
      <a class="button" href="/delete-entry">Delete entry</a>
      <a class="button" href="/list-entries">List entries</a>
    </div>
  </head>

  <body>
    <h1>Welcome to the daily diary.</h1>
      <h2>Click on one of the options below:</h2>
    <br>
    <br>


  </body>
</html>
